*.swp
*/*/build/
*.sublime-workspace
.vscode/
./build/
build/
buildDebug/
buildRelease/
./Tools/Parameter_handler/CMakeLists.txt
Tools/Parameter_handler/CMakeLists.txt
msvc*/
Xcode/
Qt/
openInVim
.DS_Store
__pycache__/
*__pycache__.meta

Unity/Laptop\ Framework/Assets/MEGA PBR Outdoor/
Unity/Laptop\ Framework/Assets/MEGA PBR Outdoor.meta
backup/

## Visual Studio
*.suo
[Dd]ebug/
[Rr]elease/
.vs/
*.log
*.pdb
*.ilk
*.sdf
*.opendb
*.user
*.VC.db

## JetBrains
.idea/
*JetBrains.meta
JetBrains/

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
*packages-lock.json
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon\?
ehthumbs.db
Thumbs.db

# ============ #
# Ultrahaptics generated #
# ============ #
Builds/
AssetDirStat.asset*
